<nav class="navbar navbar-default">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <li routerLinkActive="active"><a routerLink="auth" >Authentification</a> </li>
      <li routerLinkActive="active"><a routerLink="appareils">Appareils</a></li>
    </ul>
  </div>
</nav>
<div class="container">
  <div class="row">
    <!-- <div class="col-xs-12">
      <h2>Mes appareils</h2>
      <p>Mis à jour: {{lastUpdate | async | date: 'short' | uppercase}}</p>
        <ul class="list-group list-unstyled" >
          <app-appareil *ngFor="let appareil of appareils, let i = index" 
                        [appareilName]="appareil.name" 
                        [appareilStatus]="appareil.status"
                        [index]="i" ></app-appareil>
        </ul>
        <button class="btn btn-success" 
                [disabled]="!isAuh"
                (click)="onAllumer()" style="margin-right: 8px;">Tout allumer</button>
        <button class="btn btn-danger" 
                [disabled]="!isAuh"
                (click)="onEteindre()">Tout éteindre</button>
    </div> -->
    <!-- <app-appareil-view></app-appareil-view> -->
    <router-outlet></router-outlet>
  </div>
</div>

<!-- <app-post-list [posts]="posts" ></app-post-list> -->